                                        Exercises: Day 4

In [3]:
#1  Declare an empty list
temp = []
print('temp = ',temp)

temp =  []

In [4]:
# 2 Declare a list with more than 5 items
temp = [ 23,24,25,26,27,28]
print('temp = ',temp)

temp =  [23, 24, 25, 26, 27, 28]

In [7]:
# 3 Find the length of your list
print('temp lenght = ',len(temp))

temp lenght =  6

In [12]:
# 4 Get the first item, the middle item and the last item of the list
print(temp[0])
print(temp[2])
print(temp[5])

23
25
28

In [15]:
# 5 Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
mixed_data_types = ['name ', 'age ', 'height','martial status','address']
mixed_data_types

mixed_data_types = ['name ', 'age ', 'height', 'martial status', 'address']

In [56]:
# 6 Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

it_companies = ['Facebook', 'Google',' Microsoft', 'Apple', 'IBM', 'Oracle','Amazon']
it_companies

['Facebook', 'Google', ' Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [57]:
# 7 Print the list using print()
print('it_companies =',it_companies)

it_companies = ['Facebook', 'Google', ' Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [58]:
# 8 Print the number of companies in the list
number = len(it_companies)
print(number)

7

In [59]:
# 9 Print the first, middle and last company
print("First =",it_companies[0])
print("Middle =",it_companies[2])
print("Last =",it_companies[5])

First = Facebook
Middle =  Microsoft
Last = Oracle

In [60]:
# 10 Print the list after modifying one of the companies
it_companies = ['Facebook', 'Google',' Microsoft', 'Apple', 'IBM', 'Oracle','Amazon from UsA']
print(it_companies)

['Facebook', 'Google', ' Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon from UsA']

In [61]:
# 11 Add an IT company to it_companies
it_companies.append('Nivida')
it_companies

['Facebook',
 'Google',
 ' Microsoft',
 'Apple',
 'IBM',
 'Oracle',
 'Amazon from UsA',
 'Nivida']

In [62]:
# 12 Insert an IT company in the middle of the companies list
it_companies.insert(3,'TikTok')

In [63]:
print(it_companies)

['Facebook', 'Google', ' Microsoft', 'TikTok', 'Apple', 'IBM', 'Oracle', 'Amazon from UsA', 'Nivida']

In [64]:
# 13 Change one of the it_companies names to uppercase (IBM excluded!)
it_companies.remove('IBM')

In [65]:
print('it_companies =',it_companies)

it_companies = ['Facebook', 'Google', ' Microsoft', 'TikTok', 'Apple', 'Oracle', 'Amazon from UsA', 'Nivida']

In [66]:
# 14 Join the it_companies with a string '#;  ' 
joined_companies = '#; '.join(it_companies)
print(joined_companies)

Facebook#; Google#;  Microsoft#; TikTok#; Apple#; Oracle#; Amazon from UsA#; Nivida

In [67]:
# 15 Check if a certain company exists in the it_companies list.
it_companies.index('Apple') # indexing for finding particular data

4

In [68]:
# 16 Sort the list using sort() method
it_companies.sort()
print("Sorted list:", it_companies)

Sorted list: [' Microsoft', 'Amazon from UsA', 'Apple', 'Facebook', 'Google', 'Nivida', 'Oracle', 'TikTok']

In [69]:
# 17 Reverse the list in descending order using reverse() method

it_companies.reverse()
print("Sorted list:", it_companies)

Sorted list: ['TikTok', 'Oracle', 'Nivida', 'Google', 'Facebook', 'Apple', 'Amazon from UsA', ' Microsoft']

In [74]:
del it_companies[-1]

In [75]:
it_companies

['TikTok',
 'Oracle',
 'Nivida',
 'Google',
 'Facebook',
 'Apple',
 'Amazon from UsA']

In [76]:
# 18 Slice out the first 3 companies from the list
first_three = it_companies[:3]
print("First three companies:", first_three)

First three companies: ['TikTok', 'Oracle', 'Nivida']

In [86]:
# 19 Slice out the last 3 companies from the list
last_three = it_companies[4:7]
print("Last three companies:", last_three)

#   OR

#last_three = it_companies[-3:]
#print("Last three companies:", last_three)

Last three companies: ['Facebook', 'Apple', 'Amazon from UsA']

In [88]:
# 20 Slice out the last 3 companies from the list
middle_three = it_companies[2:5]
print("Middle three companies:", middle_three)

Middle three companies: ['Nivida', 'Google', 'Facebook']

In [90]:
# 21 Remove the first IT company from the list
it_companies.pop(0)

'TikTok'

In [91]:
it_companies

['Oracle', 'Nivida', 'Google', 'Facebook', 'Apple', 'Amazon from UsA']

In [92]:
# 22 Remove the middle IT company or companies from the list
it_companies.pop(4)
it_companies

['Oracle', 'Nivida', 'Google', 'Facebook', 'Amazon from UsA']

In [93]:
# 23 Remove the last IT company from the list
it_companies.pop(-1)
it_companies

['Oracle', 'Nivida', 'Google', 'Facebook']

In [99]:
# 26 Remove all IT companies from the list
it_companies.clear()
it_companies

[]

In [105]:
# 25 Destroy the IT companies list
del it_companies

NameError: name 'it_companies' is not defined

# 26 Join the following lists:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

developer = front_end + back_end
print('developer =',developer)

In [110]:
# 27 After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack. Then insert Python and SQL after Redux.
full_stack = developer.copy()

In [117]:
full_stack.insert(-1,'python')
full_stack.insert(-2,'Sql')

In [118]:
full_stack

['HTML',
 'CSS',
 'JS',
 'React',
 'Redux',
 'Node',
 'Express',
 'Sql',
 'python',
 'MongoDB']

                                            Exercises: Level 2

In [1]:
#1 The following is a list of 10 students ages:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [15]:
#2 Sort the list and find the min and max age
ages.sort()
print('Sort_ages =' ,ages)
print('min_Age =',ages[0])
print('min_Age =',ages[-1])


####     OR

min_age = ages[0]
max_age = ages[-1]

print(min_age)
print(max_age)

Sort_ages = [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
min_Age = 19
min_Age = 26
19
26

In [16]:
# 3 Add the min age and the max age again to the list
list  = ages[0]+ages[-1]

list

45

In [22]:
# 4 Find the median age (one middle item or two middle items divided by two)
list =len(ages)
middle_index = list//2
median_age = ages[middle_index] if list % 2 != 0 else (ages[middle_index - 1] + ages[middle_index]) / 2
int(median_age)

24

In [29]:
# 5 Find the average age (sum of all items divided by their number )
average_age = sum(ages)/list # formula of average and here list is in len look above list = len(ages)
average_age

22.8

In [27]:
# 6 find the range of ages (max minus min)
range_of_age = max_age -min_age
range_of_age

7

In [32]:
# 7 Compare the value of (min - average) and (max - average), use abs() method
min_average_diff = abs(min_age - average_age)
max_average_diff = abs(max_age - average_age)
print(min_average_diff)
print(max_average_diff)

3.8000000000000007
3.1999999999999993

In [54]:
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
]


num_countries = len(countries)
middle_index = num_countries // 2


print("Middle country(ies):", middle_countries,"and the number of middle counties",middle_index)

Middle country(ies): Lesotho and the number of middle counties 96

In [66]:
# Divide the countries list into two equal lists if it is even if not one more country for the first half.
total = len(countries)
list_1 = len(countries)/2
list_2 = len(countries)/2
if total % 2 != 0:
    list_1.append(list_2.pop(0))
print("First half of countries:", list_1)
print("Second half of countries:", list_2)

First half of countries: 48.0
Second half of countries: 48.0

In [67]:
                            # this is chatgpt Work
                    
# Calculate the length of the countries list
num_countries = len(countries)

# Calculate the index to split the list
split_index = num_countries // 2

# Divide the list into two equal parts
first_half = countries[:split_index]
second_half = countries[split_index:]

# If the number of countries is odd, add one more country to the first half
if num_countries % 2 != 0:
    first_half.append(second_half.pop(0))

# Output the results
print("First half of countries:", first_half)
print("Second half of countries:", second_half)

First half of countries: ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti']
Second half of countries: ['Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon']

In [68]:
# ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries.

# Define the list of countries
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']

# Unpack the first three countries
country1, country2, country3, *scandic_countries = countries

# Output the results
print("First three countries:", country1, country2, country3)
print("Scandic countries:", scandic_countries)

First three countries: China Russia USA
Scandic countries: ['Finland', 'Sweden', 'Norway', 'Denmark']