                                        Exercises: Day 8
Create an empty dictionary called dog
Add name, color, breed, legs, age to the dog dictionary
Create a student dictionary and add first_name, last_name, gender, age, marital status, skills, country, city and address as keys for the dictionary
Get the length of the student dictionary

In [60]:
#                                         Exercises: Day 8
# 1. Create an empty dictionary called dog
dog = {


}
dog

{}

In [61]:
# 2. Add name, color, breed, legs, age to the dog dictionary


dog['name'] = 'BASHA'
dog['breed'] = 'BA'
dog['leg'] = 4
dog['age'] = 12

In [62]:
dog

{'name': 'BASHA', 'breed': 'BA', 'leg': 4, 'age': 12}

In [22]:
# 3. Create a student dictionary and add first_name, last_name, gender, age, marital status, skills, country, city and address as keys for the dictionary
student = {
    'first_name':  'Abdul Sami',
    'last_name' : ' Wadho',
    'gender':  ' Male',
    'age' : 32,
    'marital_status' : 'single',
    'skills':['html','python','CSS'],
    'country' :'Pakistan',
    'city' : 'Karachi',
    'address': 'Johar'
}
student

{'first_name': 'Abdul Sami',
 'last_name': ' Wadho',
 'gender': ' Male',
 'age': 32,
 'marital_status': 'single',
 'skills': ['html', 'python', 'CSS'],
 'country': 'Pakistan',
 'city': 'Karachi',
 'address': 'Johar'}

In [23]:
# 4. Get the length of the student dictionary

len(student)

9

In [25]:
# 5. Get the value of skills and check the data type, it should be a list
print(type(student['skills']))

<class 'list'>

In [29]:
# 6. Modify the skills values by adding one or two skills
student['skills'].extend(['git','typescript'])

In [30]:
student

{'first_name': 'Abdul Sami',
 'last_name': ' Wadho',
 'gender': ' Male',
 'age': 32,
 'marital_status': 'single',
 'skills': ['html', 'python', 'CSS', 'git', 'typescript'],
 'country': 'Pakistan',
 'city': 'Karachi',
 'address': 'Johar'}

In [42]:
# 7. Get the dictionary keys as a list
keys = list(student)
keys

['first_name',
 'last_name',
 'gender',
 'age',
 'marital_status',
 'skills',
 'country',
 'city',
 'address']

In [43]:
type(keys)

list

In [47]:
# 8. Get the dictionary values as a list
values = list(student.values())

In [48]:
values

['Abdul Sami',
 ' Wadho',
 ' Male',
 32,
 'single',
 ['html', 'python', 'CSS', 'git', 'typescript'],
 'Pakistan',
 'Karachi',
 'Johar']

In [49]:
type(values)

list

In [51]:
print(student.items())

dict_items([('first_name', 'Abdul Sami'), ('last_name', ' Wadho'), ('gender', ' Male'), ('age', 32), ('marital_status', 'single'), ('skills', ['html', 'python', 'CSS', 'git', 'typescript']), ('country', 'Pakistan'), ('city', 'Karachi'), ('address', 'Johar')])

In [54]:
# 9. Delete one of the items in the dictionary
del student['last_name']

In [55]:
student

{'first_name': 'Abdul Sami',
 'gender': ' Male',
 'age': 32,
 'marital_status': 'single',
 'skills': ['html', 'python', 'CSS', 'git', 'typescript'],
 'country': 'Pakistan',
 'city': 'Karachi',
 'address': 'Johar'}

In [56]:
del student['skills']

In [57]:
student

{'first_name': 'Abdul Sami',
 'gender': ' Male',
 'age': 32,
 'marital_status': 'single',
 'country': 'Pakistan',
 'city': 'Karachi',
 'address': 'Johar'}

In [63]:
dog

{'name': 'BASHA', 'breed': 'BA', 'leg': 4, 'age': 12}

In [64]:
# 10. Delete one of the dictionaries

del dog

In [65]:
dog

NameError: name 'dog' is not defined