In [1]:
# sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

                                        Exercises: Level 1
Find the length of the set it_companies
Add 'Twitter' to it_companies
Insert multiple IT companies at once to the set it_companies
Remove one of the companies from the set it_companies
What is the difference between remove and discard

In [2]:
                                #Exercises: Level 1
#1. Find the length of the set it_companies
len(it_companies)

7

In [4]:
#2. Add 'Twitter' to it_companies
it_companies.add('Twitter')
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter'}

In [5]:
# 3. Insert multiple IT companies at once to the set it_companies
it_companies.update(['Mac','Netflix','Wechat'])
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Mac',
 'Microsoft',
 'Netflix',
 'Oracle',
 'Twitter',
 'Wechat'}

In [6]:
#4. Remove one of the companies from the set it_companies
it_companies.pop()

'Microsoft'

In [7]:
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Mac',
 'Netflix',
 'Oracle',
 'Twitter',
 'Wechat'}

In [8]:
#5. What is the difference between remove and discard

# remove will occure if the set don't have a value and then still i used the Remove if we use discard it don't show me any error either set has 
# value or not it discard

                                        Exercises: Level 2
Join A and B
Find A intersection B
Is A subset of B
Are A and B disjoint sets
Join A with B and B with A
What is the symmetric difference between A and B
Delete the sets completely

In [16]:
#                                         Exercises: Level 2
# Join A and B

C = A.union(B)
C

{19, 20, 22, 24, 25, 26, 27, 28}

In [17]:
join = A.update(B)
join

In [18]:
print(join)

None