Exercises: Level 1
Inside 30DaysOfPython create a folder called day_2. Inside this folder create a file named variables.py
Write a python comment saying 'Day 2: 30 Days of python programming'
Declare a first name variable and assign a value to it
Declare a last name variable and assign a value to it
Declare a full name variable and assign a value to it
Declare a country variable and assign a value to it
Declare a city variable and assign a value to it
Declare an age variable and assign a value to it
Declare a year variable and assign a value to it
Declare a variable is_married and assign a value to it
Declare a variable is_true and assign a value to it
Declare a variable is_light_on and assign a value to it
Declare multiple variable on one line

In [1]:
# 'Day 2: 30 Days of python Programming'

In [18]:
First_name = 'Abdul Sami'
print('First_name',First_name)

First_name Abdul Sami

In [17]:
Last_name = "Wadho"
print('Last_name = ',Last_name)

Last_name =  Wadho

In [16]:
Full_name = 'Abdul Sami Wadho'
print('Full_name',Full_name)

Full_name Abdul Sami Wadho

In [11]:
Country = 'Pakistan'
print('Country =',Country)

Country = Pakistan

In [13]:
City = 'Karachi'
print('City =' ,  City)

City = Karachi

In [14]:
Age = 22
print('Age =',Age)

Age = 22

In [15]:
year = 2024
print('year  =',year)

year  = 2024

In [19]:
is_married = 'single'
print('is_married =',is_married)

is_married = single

In [20]:
is_true ='yes'
print('is_true',is_true)

is_true yes

In [22]:
is_light_on = 'No'
print('is_light_on = ',is_light_on)

is_light_on =  No

In [25]:
First_name = 'Abdul Sami'
Last_name = 'Wadho'
Full_name = 'Abdul Sami Wadho'
Country = 'Pakistan'
City = 'Karachi'
Age = 22
year = 2024
is_married = 'single'
is_true ='yes'
is_light_on = 'No'


print('First_name =',First_name)
print('Last_name =',Last_name)
print('Full_name =',Full_name)
print('Country =',Country)
print('City =' ,  City)
print('Age =',Age)
print('year  =',year)
print('is_married =',is_married)
print('is_true',is_true)
print('is_light_on = ',is_light_on)

First_name Abdul Sami
Last_name Wadho
Full_name Abdul Sami Wadho
Country = Pakistan
City = Karachi
Age = 22
year  = 2024
is_married = single
is_true yes
is_light_on =  No

             Exercises: Level 2

1. Check the data type of all your variables using type() built-in function
2. Using the _len()_ built-in function, find the length of your first name
3. Compare the length of your first name and your last name
4. Declare 5 as num_one and 4 as num_two
    1. Add num_one and num_two and assign the value to a variable total
    2. Subtract num_two from num_one and assign the value to a variable diff
    3. Multiply num_two and num_one and assign the value to a variable product
    4. Divide num_one by num_two and assign the value to a variable division
    5. Use modulus division to find num_two divided by num_one and assign the value to a variable remainder
    6. Calculate num_one to the power of num_two and assign the value to a variable exp
    7. Find floor division of num_one by num_two and assign the value to a variable floor_division
5. The radius of a circle is 30 meters.
    1. Calculate the area of a circle and assign the value to a variable name of _area_of_circle_
    2. Calculate the circumference of a circle and assign the value to a variable name of _circum_of_circle_
    3. Take radius as user input and calculate the area.
6. Use the built-in input function to get first name, last name, country and age from a user and store the value to their corresponding variable names
7. Run help('keywords') in Python shell or in your file to check for the Python reserved words or keywords

In [27]:
# 1. Check the data type of all your variables using type() built-in function

print('First_name =',type(First_name))
print('Last_name =',type(Last_name))
print('Full_name =',type(Full_name))
print('Country =',type(Country))
print('City =' ,  type(City))
print('Age =',type(Age))
print('year  =',type(year))
print('is_married =',type(is_married))
print('is_true',type(is_true))
print('is_light_on = ',type(is_light_on))

First_name = <class 'str'>
Last_name = <class 'str'>
Full_name = <class 'str'>
Country = <class 'str'>
City = <class 'str'>
Age = <class 'int'>
year  = <class 'int'>
is_married = <class 'str'>
is_true <class 'str'>
is_light_on =  <class 'str'>

In [28]:
# 2. Using the _len()_ built-in function, find the length of your first name
len(First_name)

10

In [37]:
# 3. Compare the length of your first name and your last name
print('First_name =',len(First_name) )
print('Last_name =',len(Last_name) )

First_name = 10
Last_name = 5

In [40]:
# 4. Declare 5 as num_one and 4 as num_two
num_one = 5
num_two = 4
print('num_one =', num_one)
print('num_two =' ,num_two)

num_one = 5
num_two = 4

In [42]:
# i. Add num_one and num_two and assign the value to a variable total
total = num_one + num_two
print('total =',total)

total = 9

In [43]:
# ii. Subtract num_two from num_one and assign the value to a variable diff

diff = num_two - num_one
print('diff =', diff)

diff = -1

In [44]:
# iii. Multiply num_two and num_one and assign the value to a variable product
product = num_two * num_one
print('Product = ', product)

Product =  20

In [49]:
# iv. Divide num_one by num_two and assign the value to a variable division

Divide = num_two / num_two
print('Divide = ',Divide)

Divide =  1.0

In [ ]:
# v. Use modulus division to find num_two divided by num_one and assign the value to a variable remainder

In [50]:
remainder = num_two % num_one
print('remainder =' , remainder)

remainder = 4

In [55]:
# vi. Calculate num_one to the power of num_two and assign the value to a variable exp
exp =   num_one ** num_two
print( 'exp = ',exp)

exp =  625

In [56]:
# vii. Find floor division of num_one by num_two and assign the value to a variable floor_division
floor_division = num_one // num_two
print('floor_division =',floor_division)

floor_division 1

In [60]:
# 5. The radius of a circle is 30 meters.

In [64]:
# i. Calculate the area of a circle and assign the value to a variable name of _area_of_circle_
pi = 3.14
r = 30
_area_of_circle_ = pi*r**2
print('_area_of_circle_ = ',_area_of_circle_)

_area_of_circle_ =  808889954861003.4

In [65]:
# ii. Calculate the circumference of a circle and assign the value to a variable name of _circum_of_circle_
pi = 3.14
r = 30
_area_of_circle_ = 2*pi*r
print('Circle = ',circle)

Circle =  188.4

In [69]:
# iii. Take radius as user input and calculate the area.
radius = int(input('radius'))
area  = pi*radius**2
print('area = ',area)

radius 16

area =  803.84

In [75]:
# 6. Use the built-in input function to get first name, last name, country and age from a user and store the value to their corresponding variable names

First_name = input('First_name')
Last_name = input('Last_name')
Full_name = input('Full_name')
Country = input('Country')
City = input('City')



print('\nFirst_name =',First_name)
print('Last_name =',Last_name)
print('Full_name =',Full_name)
print('Country =',Country)
print('City =' ,  City)

First_name sa
Last_name s
Full_name s
Country s
City s

First_name = sa
Last_name = s
Full_name = s
Country = s
City = s

In [77]:
# 7. Run help('keywords') in Python shell or in your file to check for the Python reserved words or keywords

help('keywords') 

#The help('keywords') command in Python provides a list of all the reserved words or keywords in the Python language.

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not