In [2]:
# Question 1  print function 
print("Hello Sami")

Hello Sami

In [1]:
# Question 2  print two variable and sum

number_1 = 5
number_2 = 6
sum = number_1 + number_2
print(sum)

11

In [3]:
# Question 3  print two variable and subtract

number_1 = 12
number_2 = 6
subtract = number_1 - number_2
print(subtract)

6

In [2]:
# Question 4  print two variable and multiplication

number_1 = 10
number_2 = 3
multiplication = number_1 * number_2
print(multiplication )

30

In [5]:
# Question 5  print two variable and division

number_1 = 30
number_2 = 3
division = number_1 / number_2
print(int(division ))

10

In [6]:
# Question 6  user INPUT 

num_1 = int(input('Enter the number '))
num_2 = int(input('Enter the number '))
sum = num_1 + num_2
print(sum)

Enter the number  101
Enter the number  10

111

# Question 7  

--------------------------
            My Profile 
--------------------------
Name : 
Course Name :
Institute Name :
Gender :
Age : 
Department :
--------------------------
            My Profile 
--------------------------
Create A Marksheet which Take 5 Course Marks as an input From a user.
Calculate Obtained Marks
Calculate Package

In [29]:
Name = input("Enter The Name :") 
Course_Name = input("Enter The Course Name :")
Institute_Name = input("Enter The Institute Name :")
Gender = input("Enter The Gender :")
Age = int(input("Enter The Age :"))
Department =input("Enter The Department :")



English = int(input('Enter The Marks'))
Math = int(input('Enter The Marks'))
Urdu =int(input('Enter The Marks'))
Pakistan_Study = int(input('Enter The Marks'))
Sindhi = int(input('Enter The Marks'))


Obtain_marks = (English + Math + Urdu + Pakistan_Study + Sindhi)
Total_Marks = 500

print(Obtain_marks)
Pers =(Obtain_marks / Total_Marks)*100
print('Pers :',Pers)

Enter The Name : samiwadho
Enter The Course Name : computer science
Enter The Institute Name : Software
Enter The Gender : male
Enter The Age : 23
Enter The Department : I T
Enter The Marks 67
Enter The Marks 87
Enter The Marks 67
Enter The Marks 86
Enter The Marks 86

393
Pers : 78.60000000000001

In [30]:

print('=====================')
print('\t My Profile')
print('=====================')
print("Name :",Name )
print("Course_Name ",Course_Name)
print("Institute_Name :",Institute_Name )
print("Gender :",Gender )
print("Age :" ,Age)
print("Department :",Department)


print('=====================')
print('\t Marksheet')
print('=====================')
print("Marks Obtained in :",English)
print("Marks Obtained in :",Math)
print("Marks Obtained in :",Urdu)
print("Marks Obtained in :",Pakistan_Study)
print("Marks Obtained in :",Sindhi)

print("Marks Obtained in :",Obtain_marks)
print("Marks Obtained in :",Total_Marks)
print("Marks Obtained in :",Pers)

=====================
	 My Profile
=====================
Name : samiwadho
Course_Name  computer science
Institute_Name : Software
Gender : male
Age : 23
Department : I T
=====================
	 Marksheet
=====================
Marks Obtained in : 67
Marks Obtained in : 87
Marks Obtained in : 67
Marks Obtained in : 86
Marks Obtained in : 86
Marks Obtained in : 393
Marks Obtained in : 500
Marks Obtained in : 78.60000000000001

In [ ]:
# Question 8 calculate Area and Cicumfernece

In [1]:
pi = 3.15
radius = int(input("enter the value"))
area = pi*radius**2

# **2 it mean it is square 
# **3 it mean it is qubic 
# **2 it mean it is forth 
print("area of circle =", area)

enter the value 2

area of circle = 12.6

In [3]:
pi = 3.15
radius = int(input("enter the value"))
Cicumfernece  = 2*pi*radius
print("Cicumfernece of circle =", Cicumfernece)

enter the value 3

Cicumfernece of circle = 18.9

# list

In [13]:
# Question 9 create a list
cities = [ 'larkana','karachi','Sukker']
cities[1]

'karachi'

In [14]:
cities.append('Lahore')
cities

['larkana', 'karachi', 'Sukker', 'Lahore']

In [15]:
cities.insert(1,'Kamber')

In [16]:
cities

['larkana', 'Kamber', 'karachi', 'Sukker', 'Lahore']

In [17]:
cities.pop()

'Lahore'

In [18]:
cities

['larkana', 'Kamber', 'karachi', 'Sukker']

In [19]:
cities.remove('larkana')

In [20]:
cities

['Kamber', 'karachi', 'Sukker']

In [21]:
cities = ( 'larkana','karachi','Sukker')
cities[2]

'Sukker'

In [22]:
Countries = { 'Pakistan ', 'China' , 'India','Iran'}

In [23]:
Countries

{'China', 'India', 'Iran', 'Pakistan '}