In [3]:
number = 0
while number < 11 :
    print(number)
    number = number +1

0
1
2
3
4
5
6
7
8
9
10

In [5]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [1]:
number = 10
while number >= 0 :
    print(number)
    number = number - 1

10
9
8
7
6
5
4
3
2
1
0

In [4]:
for number in range(10,-1,-1):
    print(number)

10
9
8
7
6
5
4
3
2
1
0

In [9]:
for i in range(1,8):
    print('*'*i)

*
**
***
****
*****
******
*******

In [17]:
for i in range (1,8):
        print('\t*'*i)

	*
	*	*
	*	*	*
	*	*	*	*
	*	*	*	*	*
	*	*	*	*	*	*
	*	*	*	*	*	*	*

In [18]:
for i in range(1, 8):
    spaces = " " * (7 - i)
    hashes = "#" * i
    print(spaces + hashes)

      #
     ##
    ###
   ####
  #####
 ######
#######

In [21]:
for i in range(1, 8):
    spaces = " " * (7 - i)
    hashes = "#" * (2 * i - 1)
    print(spaces + hashes + spaces)

 *
 * *
 * * *
 * * * *
 * * * * *
 * * * * * *
 * * * * * * *

In [22]:
for i in range(0,11):
    print(i,"X",i,"=",i*i)

0 X 0 = 0
1 X 1 = 1
2 X 2 = 4
3 X 3 = 9
4 X 4 = 16
5 X 5 = 25
6 X 6 = 36
7 X 7 = 49
8 X 8 = 64
9 X 9 = 81
10 X 10 = 100

In [24]:
number =int(input("enter the number"))
for i in range(11):
    print(i*number)

enter the number 4

0
4
8
12
16
20
24
28
32
36
40

In [25]:
# Iterate through the list, ['Python', 'Numpy','Pandas','Django', 'Flask'] using a for loop and print out the items.
skill =  ['Python', 'Numpy','Pandas','Django', 'Flask'] 
for i in skill :
    print(i)

Python
Numpy
Pandas
Django
Flask

In [26]:
# Use for loop to iterate from 0 to 100 and print only even numbers
for i in range(0,101,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [35]:
# Use for loop to iterate from 0 to 100 and print only odd numbers
for i in range(1,101,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [38]:
# convert in list
lists = [number for number in range(1,101,2)]
print(lists)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [48]:
sum_all = 0
for number in range(101):
    sum_all += number
print("The sum of all numbers is", sum_all)

The sum of all numbers is 5050

In [49]:
sum_even = 0
sum_odd = 0
for number in range(101):
    if number % 2 == 0:
        sum_even += number
    else:
        sum_odd += number
print("The sum of all evens is", sum_even, "And the sum of all odds is", sum_odd)

The sum of all evens is 2550 And the sum of all odds is 2500

In [54]:
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
]

lists = [ country for country in countries if 'land' in country.lower()]
print(lists)

['Finland', 'Iceland', 'Ireland', 'Marshall Islands', 'Netherlands', 'New Zealand', 'Poland', 'Solomon Islands', 'Swaziland', 'Switzerland', 'Thailand']

In [53]:
countries_with_land = [country for country in countries if 'land' in country.lower()]
print(countries_with_land)

['Finland', 'Iceland', 'Ireland', 'Marshall Islands', 'Netherlands', 'New Zealand', 'Poland', 'Solomon Islands', 'Swaziland', 'Switzerland', 'Thailand']

In [55]:
# This is a fruit list, ['banana', 'orange', 'mango', 'lemon'] reverse the order using loop.
fruits = ['banana', 'orange', 'mango', 'lemon']

for i in range(len(fruits) - 1, -1, -1):
    print(fruits[i])

lemon
mango
orange
banana

In [2]:
day =[
    {
        "name": "Afghanistan",
        "capital": "Kabul",
        "languages": [
            "Pashto",
            "Uzbek",
            "Turkmen"
        ],
        "population": 27657145,
        "flag": "https://restcountries.eu/data/afg.svg",
        "currency": "Afghan afghani"
    },
    {
        "name": "Åland Islands",
        "capital": "Mariehamn",
        "languages": [
            "Swedish"
        ],
        "population": 28875,
        "flag": "https://restcountries.eu/data/ala.svg",
        "currency": "Euro"
    },
    {
        "name": "Albania",
        "capital": "Tirana",
        "languages": [
            "Albanian"
        ],
        "population": 2886026,
        "flag": "https://restcountries.eu/data/alb.svg",
        "currency": "Albanian lek"
    },
    {
        "name": "Algeria",
        "capital": "Algiers",
        "languages": [
            "Arabic"
        ],
        "population": 40400000,
        "flag": "https://restcountries.eu/data/dza.svg",
        "currency": "Algerian dinar"
    },
    {
        "name": "American Samoa",
        "capital": "Pago Pago",
        "languages": [
            "English",
            "Samoan"
        ],
        "population": 57100,
        "flag": "https://restcountries.eu/data/asm.svg",
        "currency": "United State Dollar"
    },
    {
        "name": "Andorra",
        "capital": "Andorra la Vella",
        "languages": [
            "Catalan"
        ],
        "population": 78014,
        "flag": "https://restcountries.eu/data/and.svg",
        "currency": "Euro"
    },
    {
        "name": "Angola",
        "capital": "Luanda",
        "languages": [
            "Portuguese"
        ],
        "population": 25868000,
        "flag": "https://restcountries.eu/data/ago.svg",
        "currency": "Angolan kwanza"
    },
    {
        "name": "Anguilla",
        "capital": "The Valley",
        "languages": [
            "English"
        ],
        "population": 13452,
        "flag": "https://restcountries.eu/data/aia.svg",
        "currency": "East Caribbean dollar"
    },
    {
        "name": "Antarctica",
        "capital": "",
        "languages": [
            "English",
            "Russian"
        ],
        "population": 1000,
        "flag": "https://restcountries.eu/data/ata.svg",
        "currency": "Australian dollar"
    },
    {
        "name": "Antigua and Barbuda",
        "capital": "Saint John's",
        "languages": [
            "English"
        ],
        "population": 86295,
        "flag": "https://restcountries.eu/data/atg.svg",
        "currency": "East Caribbean dollar"
    },
    {
        "name": "Argentina",
        "capital": "Buenos Aires",
        "languages": [
            "Spanish",
            "Guaraní"
        ],
        "population": 43590400,
        "flag": "https://restcountries.eu/data/arg.svg",
        "currency": "Argentine peso"
    }
]

In [6]:
# What are the total number of languages in the data
#Find the ten most spoken languages from the data
#Find the 10 most populated countries in the worldxtracting all languages from the data


all_languages = []
for country in day:
    all_languages.extend(country['languages'])

# Total number of languages in the data
total_languages = len(set(all_languages))
print("Total number of languages in the data:", total_languages)

# Counting the occurrences of each language
language_counts = {}
for language in all_languages:
    language_counts[language] = language_counts.get(language, 0) + 1

# Finding the ten most spoken languages
most_spoken_languages = sorted(language_counts.items(), key=lambda x: x[1], reverse=True)[:10]
print("Ten most spoken languages:")
for language, count in most_spoken_languages:
    print(language, "-", count)

# Finding the 10 most populated countries
most_populated_countries = sorted(day, key=lambda x: x['population'], reverse=True)[:10]
print("\nTen most populated countries:")
for country in most_populated_countries:
    print(country['name'], "-", country['population'])

Total number of languages in the data: 13
Ten most spoken languages:
English - 4
Pashto - 1
Uzbek - 1
Turkmen - 1
Swedish - 1
Albanian - 1
Arabic - 1
Samoan - 1
Catalan - 1
Portuguese - 1

Ten most populated countries:
Argentina - 43590400
Algeria - 40400000
Afghanistan - 27657145
Angola - 25868000
Albania - 2886026
Antigua and Barbuda - 86295
Andorra - 78014
American Samoa - 57100
Åland Islands - 28875
Anguilla - 13452